$primary-black: #202628;
$primary-grey: #e7e7e7;
$primary-red: #e84c3d;
$brand-p: #767c7e;
$nav-link-hover-bg: $primary-red;
$btn-danger-bg: $primary-red;
$btn-default-color: $primary-grey;
$link-color: $primary-red;
$font-size-base: 10px;
$font-size-h1: 31px;
$font-size-h2: $font-size-base*2.5;
$font-size-h3: 21px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$btn-border-radius-base: 20px;
$btn-success-bg: $primary-black;
